/* Global Styles ------------------ */

body {
  margin: 0;
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
} 

/* Header Styles ------------------ */

.masthead {
  padding-top: 100px;
  height: 400px;
  background: url("http://i296.photobucket.com/albums/mm197/Greg_Lindahl/background_zpsmfewzkdr.jpeg") no-repeat center / cover; 
  border-top: 20px solid #FDDC5E;
}

.masthead-intro {
  color: rgba(255, 169, 110, .8);
  font-size: 2.25rem; /* 36px/16px */
  text-align: center;

  animation-duration: .5s;
  animation-name: fadeAndScale;
  animation-timing-function: cubic-bezier(.71,.55,.62,1.57);
}

.masthead-heading { 
  font-family: "Gentium Book Basic", Georgia, serif;
  font-size: 5rem; /* 80px/16px  */
  color: rgba(255, 255, 255, .6);
  text-shadow: 2px 2px 8px #FDDC5E;
  text-transform: uppercase;
  font-weight: 300;
  text-align: center;

  animation-duration: .5s;
  animation-name: fadeAndScale;
  animation-timing-function: cubic-bezier(.71,.55,.62,1.57);
}

@keyframes fadeAndScale {
    from {
        opacity: 0;
        transform: scale(.9, .9);
    }
    to {
        opacity: 1;
        transform: scale(1, 1);
    }
}

/* Navigation ------------------ */

nav {
  text-align: center;
  padding: 10px 0 10px 15px;
  margin: 20px 0 0;
  position: relative;
  z-index: 10;
}

nav ul {
  list-style: none;
  margin: 0 10px;
  padding:0;
}

nav li {
  display: inline-block;
}

nav a {
  font-weight: 800;
  padding: 15px 10px;
}

nav a:visited {
  color: #E87E58;
}

nav a:hover {
  color: #FFE2BA;
}

/* Pseudo-classes ------------------ */

a:link {
  color: #FDDC5E;
  text-decoration: none;
}

a:visited {
  color: #BF893D;
}

a:hover {
  color: #FFE2BA;
}

a:active {
  color: #FFA96E;
}

/* Main Styles --------------------- */

.primary-content,
.portfolio-content {
	padding-top: 25px;
  letter-spacing: 0.05em;
  font-weight: 300;
}

.hobby-question {
  color: #FFA96E;
  font-family: "Gentium Book Basic", Georgia, serif;
  font-size: 1.3em;
  font-weight: bold;
}

.main-footer {
  text-align: center;
  color: #fff;
}

.main-footer ul {
  text-align: center;
  padding: 10px 0;
  margin: 20px 0 0;
  list-style: none;
}

.main-footer li {
  display: inline-block;
}

/* Layout Styles ------------------ */

.primary-content,
.portfolio-content {
  width: 75%;
  padding-left: 50px;
  padding-right: 50px;
  margin: auto;
  max-width: 600px;
}

.portfolio-content img {
  max-height: 150px;
}

.portfolio-content ul {
  text-align: center;
  padding: 10px 0;
  margin: 20px 0 0;
  list-style: none;
}

.portfolio-content li {
  display: inline-block;
  float: left;
  width: 45%;
  margin: 2.5%;
}

.main-footer {
  background: #FC7E60;
  height: 150px;
  width: 100%;
  margin-top: 75px;
  padding-top: 50px;
  padding-bottom: 50px;
  border-bottom: 10px solid #ffa949;
  clear: both;
}

/* Media Queries ------------------ */

@media only screen and (max-width: 500px) {
    .masthead {
        padding: 3em 0;
        height: 50%;
    }
    .masthead-heading {
        font-size: 3em;
    }
}

@media only screen and (max-width: 500px) {
    .portfolio-content li {
      width: 50%;
      display: block;
      float: none;
    }
}

@media only screen and (max-width: 500px) {
    .main-footer {
      height: 50%;
      padding: 20px;
    }
}

